// Colors
$color-white: #fff;
$color-black: #1f2d3d;
$color-dark: rgb(29,29,29);

// Spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// Theme
$theme-color-primary: #ff16D1;
$theme-boxShadow-normal: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 4px 8px 0px;
$theme-boxShadow-hover: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 12px 12px 0px;

// Line height
$lineHeight-0: 1.6;

// Font family:
$font-family: 'Lato', sans-serif;

// Border radius
$borderRadius-0: 4px;
$borderRadiu-1: 12px;

// Header Height:
$headerHeight: 100px;

