.alana__img {
  margin: 16px auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  box-shadow: .25rem .25rem 0 rgba(0,0,0,.25);
  @include breakpoint(md) {
    width: 56px;
    height: 56px;
  }
  @include breakpoint(lg) {
    width: 64px;
    height: 64px;
  }
}