.alana__img {
  margin: 16px auto;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  background: white;
  display: inline-block;
  @include breakpoint(sm) {
    width: 48px;
    height: 48px;
  }
  @include breakpoint(lg) {
    width: 64px;
    height: 64px;
    margin-left: -35px;
  }
}